on post-fs-data
    mkdir /data/vendor/fpc 0770 system system
    mkdir /data/vendor/fpdump 0770 system system
    mkdir /data/vendor/goodix 0770 system system
    mkdir /mnt/vendor/persist/fpc 0770 system system
    mkdir /mnt/vendor/persist/goodix 0770 system system

on boot
    chmod 0666 /dev/goodix_fp
    chown system system /dev/goodix_fp
    chmod 0664 /sys/bus/platform/devices/soc:xiaomi_fingerprint/fingerdown
    chown system graphics /sys/bus/platform/devices/soc:xiaomi_fingerprint/fingerdown

service vendor.fps_hal_lc /vendor/bin/hw/android.hardware.biometrics.fingerprint@2.1-service_lc
    # "class hal" causes a race condition on some devices due to files created
    # in /data. As a workaround, postpone startup until later in boot once
    # /data is mounted.
    class late_start
    user system
    group system input uhid

on property:vendor.fps_hal.restartimes=max
    stop vendor.fps_hal_lc
